.container-quienes-somos {
  max-width: 1100px;
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.container-user {
  min-height: 300px;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgb(221, 221, 221);
}

.container-user:last-child {
  border-bottom: none;
}

.container-img-user {
  width: 150px;
  margin: 10px;
}

.container-img-user img {
  width: 100%;
}

.container-desc-user * {
  padding: 10px 0;
}

.container-user a {
  display: inline-block;
  background-color: var(--verde);
  border: none;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.container-user a:hover {
  color: black;
}
