.container-img-galeria {
  width: 100%;
  position: relative;
}

.container-img-galeria img {
  width: 100%;
}

.close-modal {
  display: inline-block;
  width: 50px;
  background-color: var(--turquesa);
  position: absolute;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  right: 0;
  padding: 10px;
  cursor: pointer;
  border-radius: 0 2px 0 0;
  border: none;
}

@media (max-width: 880px) {
  .close-modal {
    width: 35px;
    padding: 6px;
  }
}

@media (max-width: 480px) {
  .close-modal {
    width: 30px;
    padding: 3px;
  }
}
